name: build exec

on:
  push:
    branches:
      - main

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: use node
      uses: actions/setup-node@v1
      with:
        node-version: 14.x
    - name: npm install, build, and test
      run: |
        npm install
        npm run nexe
        npm run pkg